.contact{
    padding: 1rem 16%;
}
.contact h1{
    margin-top: 3rem;
    font-size: 4rem;
}
textarea{
    resize: none;
    padding: 1rem;
}
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 5rem;
}
.contact-box {
    flex: 1;
    margin-right: 1rem;
}
.box-contact {
    flex: 1;
}
input, textarea{
    border-radius: 1rem;
}
.name-container {
    display: flex;
    gap: 1rem;
}

.input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.full-width {
    width: 100%;
}

input, textarea {
    border-radius: 1.2rem;
    padding: 0.5rem;
    font-size: 1.6rem;
}
input{
    height: 4rem;
    border-radius: 3rem;
    padding: 2rem;
}
form.contacts label {
    margin-top: 1rem;
}

form.contacts input[type="submit"] {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
#submit{
    width: 30%;
    background-color: rgb(241, 237, 237);
    border: none;
    transition: all 0.3s ease-in-out;
    margin: 0 auto;
}
#submit:hover{
    background-color: black;
    color: whitesmoke;
}
@media(max-width:2000px){
    .contact-content{
        justify-content: center;
    }
}
@media(max-width:1600px){
    .contact-content{
        justify-content: center;
    }
    iframe{
        width: 600px;
    }
}
@media(max-width:1400px){
    iframe{
        width: 400px;
        height: 40vh;
    }
}
@media(max-width: 1396px){
    .contact-content{
        flex-direction: column;
        align-items: center;
    }
    iframe{
        margin-top: 4rem;
        width: 900px;
    }
}
@media (max-width: 1200px) {
    .contact {
        padding: 1rem 1%;
    }
}

@media (max-width: 768px) {
    .contact-content {
        flex-direction: column;
        align-items: center;
    }

    .contact-box, .box-contact {
        width: 100%;
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .box-contact iframe {
        width: 100%;
        height: 30vh;
        margin-top: 3rem;
    }
}
.controls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    gap: 3rem;
  }
  .controls .control {
    padding: 1rem;
    cursor: pointer;
    background-color: #533cbb;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.7rem 0;
    box-shadow: var(--box-shadow-1);
    gap: 2.8rem;
  }
  .controls .control a{
    font-size: 2.4rem;
  }
  .controls .control i {
    font-size: 2.4rem;
    color: #533cbb;
    pointer-events: none;
  }
  .controls a .ri-instagram-line,.ri-facebook-line,.ri-tiktok-line{
    font-size: 2.5rem;
    gap: 2rem;
    color: white;
    background-color: var(--bg);
    border-radius: 50%;
    padding: 1.2rem;
  }
  .controls a .ri-instagram-line,.ri-facebook-line,.ri-tiktok-line:hover{
    transition: 0.5s all ease-in-out;
    background-color: var(--bg);
    color: whitesmoke;
    transform: translateY(-5px);
  }
  .controls a{
    gap: 1.2rem;
  }
@media(max-width:1024px){
    .box-contact iframe{
        width: 700px;
    }
}
@media(max-width:968px){
    .box-contact iframe{
        width: 600px;
    }
}
@media(max-width:932px){
    .box-contact iframe{
        width: 550px;
    }
}
@media(max-width:800px){
    .box-contact iframe{
        width: 480px;
    }
}
@media(max-width:768px){
    .box-contact iframe{
        width: 400px;
    }
}
@media(max-width:600px){
    .box-contact iframe{
        width: 360px;
    }
}
@media (max-width: 800px) {
    .name-container {
        flex-direction: column;
    }
}